/* Resetando estilos para garantir consistência */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f0e1; /* Cor de fundo ajustada conforme a imagem */
    text-align: center;
    padding: 20px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 600px;
    margin: 0 auto 20px;
}

.header-text {
    text-align: left;
}

.header-title {
    font-size: 26px;
    font-weight: bold;
    color: black;
}

.header-subtitle {
    font-size: 20px;
    font-weight: bold;
    color: #ffb400;
}

.header-logo {
    width: 80px; /* Aumentando o tamanho da logo */
    height: auto;
}

.main-content {
    display: flex;
    justify-content: center;
}

.form {
    width: 50%;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.fieldset {
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 15px;
    text-align: left;
    background-color: #f8e0c0; /* Cor de fundo das seções ajustada */
}

.fieldset-title {
    font-weight: bold;
    color: black;
}

.input, .select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.input-file {
    margin-top: 5px;
}

.form-footer {
    display: flex;
    justify-content: space-between;
}

.btn-submit {
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.btn-reset {
    background-color: rgb(147, 81, 81);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.btn-submit:hover {
    background-color: darkblue;
}

.btn-reset:hover {
    background-color: darkred;
}
