html{
    scroll-behavior: smooth;
}
:root{
    --color-base: #010e1b;
    --color-base-figure-background:#bdbcbc;
    --color-base-figure-border:#f2eded;
    --color-base-footer: #292727;
    --font-firt-title: "Playfair Display", serif;
    --font-second-title: "Doto", sans-serif;
    --font-body: "Oswald", sans-serif;
    --font-caption: "Rock Salt", cursive;
}

body {
    color: var(--color-base);
    font-family: "Oswald", sans-serif;
    margin-left:auto;
    margin-right: auto;
    width: 940px
}


h1{
    background-image: url("../img/sobre-background.jpg");
    padding: 10px;
    font-family: "Playfair Display", serif;
}
h2{
    border-bottom: 2px groove var(--color-base);
    margin-top: 30px;
    font-family: "Playfair Display", serif;
}
figure{
    background-color:var(--color-base-figure-background);
    border: 1px solid #ccc var(--color-base-figure-border);
    text-align: center;
    padding: 15px;
    margin: 30px;
}
figcaption{
    font-style: italic;
    margin-top: 10px;
    font-family: "Oswald", sans-serif;
}
p{
    padding: 0 45px;
    text-indent: 50px;
}
#centro-distribuicao {
    margin-left: auto;
    margin-right: auto;
    width: 550px;
}
#familia-pelho {
    float: right;
    margin: 0 0 10px 10px
}
#rodape {
    color: #777;
    margin: 30px 0;
    padding: 30px 0;
    color: var(--color-base-footer)
}
#rodape img {
    margin-right: 30px;
    vertical-align: middle;
    width: 90px;
}